# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
a.exe
Final.zip
group-people-chatting-each-other-using-phone.zip
mens-near-huge-smartphone-with-application-icons-screen-checking-social-media-news-feeds-illustration.zip
phone-surrounded-by-messages-isometric-style.zip
Final/License free.txt
Final/2811109.ai
Final/License premium.txt
public/image_two.jpg
public/image.eps
public/image.jpg
public/a.txt
